.group {
  flex: 4;
  padding: 20px;
}

.groupTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.groupAddButton {
  width: 80px;
  border: none;
  padding: 5px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.groupTop {
  display: flex;
}

.groupTopLeft,
.groupTopRight {
  flex: 1;
}

.groupTopRight {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.groupInfoImg {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
}

.groupInfoTop {
  display: flex;
  align-items: center;
}

.groupName {
  font-weight: 600;
}

.groupInfoBottom {
  margin-top: 10px;
}

.groupInfoItem {
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.groupInfoValue {
  font-weight: 300;
}

.groupBottom {
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 15px -10px rgba(0, 0, 0, 0.75);
}

.groupForm {
  display: flex;
  justify-content: space-between;
}

.groupFormLeft {
  display: flex;
  flex-direction: column;
}

.groupFormLeft > label {
  margin-bottom: 10px;
  color: gray;
}

.groupFormLeft > input {
  margin-bottom: 10px;
  border: none;
  padding: 5px;
  border-bottom: 1px solid gray;
}

.groupFormLeft >select{
  margin-bottom: 10px;
}

.groupUploadImg{
  width: 100px;
  height: 100px;
  border-radius: 10px;
  object-fit: cover;
  margin-right: 20px;
}

.groupFormRight{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.groupUpload{
  display: flex;
  align-items: center;
}

.groupButton{
  border: none;
  padding: 5px;
  border-radius: 5px;
  background-color: darkblue;
  color:white;
  font-weight: 600;
  cursor: pointer;
}